@import "@/styles/globals.scss";

.image {
  width: 100%;
}

.Typography {
  margin: 2px 0 2px 0 !important;
}

.profile_title {
  padding-left: 10px;
  border-bottom: 2px solid $g-main-theme-color;
}
