@import "@/styles/globals.scss";

.buttonBox {
  text-align: center;
  margin-top: 50px;
}

.Button {
  background-color: $g-main-theme-color;
  padding: 10px 50px;
  border-radius: 15px;
  border: 0;
  &:hover {
    background-color: $g-dark-theme-color;
  }
}

.Typography {
  font-size: $g-button-font-size;
  color: white;
  font-weight: 100;
  text-transform: none;
  margin: 2px;
}

.fadeInContent {
  @extend .fade-in-content;
}

.fadeIn {
  @extend .is-scroll-in;
}

.spacer {
  padding-top: $g-large-spacer;
}
